{% extends '_template.html.twig' %}

{% block shopPageLinkStyle %}
    current_page
{% endblock %}


{% block main %}
    <h2>Downloadable Content</h2>
    <hr color="black">
    <br>
    <img src="../images/jj.png" alt="logo"  height="20%" width="100%" >
    <p>In December 2016, DICE announced the first major expansion for Battlefield 1, They Shall Not Pass, which was released on March 14, 2017 with a two-week exclusivity period for Premium holders. It focuses on the new playable faction, the French Army; the expansion features four new maps set in the Battle of Verdun and the Second Battle of the Marne; "Fort de Vaux", "Soissons", "Rupture", and "Verdun Heights". They Shall Not Pass brings new weapons including the Ribeyrolles 1918, RSC 1917, Lebel Model 1886, Chauchat, Sjögren Inertial, and Mle 1903 Extended. The Saint-Chamond and the "behemoth-class super-heavy tank" Char 2C were added as new vehicles, as well as new melee-oriented "Trench Raider" elite class.Two additional maps named "Nivelle Nights" and "Prise de Tahure", both set during and after the Nivelle Offensive, are included as part of the expansion and were released in Summer 2017.</p>
    <br>
    <img src="../images/ff.png" alt="logo"  height="20%" width="100%" >
    <p>In April 2017, DICE released the first images of the In the Name of the Tsar DLC. This DLC was confirmed during EA Play 2017, where a short amount of footage of it was also shown. In the Name of the Tsar focuses on Russian Empire during the Great War. The Scout class for the Russian faction features as a female soldier representing the Women's Battalion. Four maps in the expansion follows in the Eastern Front; Lupkow Pass, Galicia, Brusilov Keep, and Albion, while two other maps are set in the Russian Civil War between the White Guard and Red Army; Tsaritsyn and Volga River. It also introduced 11 new weapons to the game; Model 1900, Fedorov Avtomat, Parabellum MG14/17, Mosin-Nagant M91, Nagant Revolver. SMG 08/18, General Liu Rifle, Perino Model 1908, Vetterili-Vitalli M1870/87, Obrez Pistol, and C93 Carbine. In the Name of the Tsar also features a new horseback weapon called the Cavalry Lance. The Ilya-Muromets Bomber, Putilov-Garford Heavy Armored Car, and Y-Lighter Landing Craft are included as new vehicles to the game. The expansion was released on September 5, 2017 for Premium Pass, while the worldwide release was two weeks later.</p>
    <br>

    <h2>In-Game Purchase</h2>
    <p>There are cases in Battlefield 1 that players can aquire by completing challenges and they are also available for purchase, These cases can give beneficials to the game as weapons, skins for weapons tanks and planes.</p>
    <img src="../images/case.jpg" alt="logo"  height="30%" width="33%" >
    <img src="../images/case.jpg" alt="logo"  height="30%" width="33%" >
    <img src="../images/case.jpg" alt="logo"  height="30%" width="33%" >
    <br>
    <br>

    <h2>Games Available For Purchase</h2>
    <img src="../images/1.png" alt="logo"  height="50%" width="20%" >
    <img src="../images/3.jpg" alt="logo"  height="50%" width="20%" >
    <img src="../images/4.jpg" alt="logo"  height="50%" width="20%" >
    <img src="../images/b1.jpg" alt="logo"  height="50%" width="20%" >
    <img src="../images/bft1.jpg" alt="logo"  height="50%" width="18.5%" >
    <br>



    <hr color="black">
    <br>


    <table id="123">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            {% for name in names %}
            <td>{{ name.id }}</td>

            <td> {{ name.description }}</td>

            <td> {{ name.price }}</td>




        </tr>

        {% endfor %}
    </table>
    <br>


    <table align="center">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            {% for name in names %}
            <td>{{ name.id }}</td>

            <td> {{ name.description }}</td>

            <td> {{ name.price }}</td>




        </tr>

        {% endfor %}
    </table>

{% endblock %}


